# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/.idea/**
*.iml
package-lock.json
frontend/node_modules/**
frontend/generated/**
webpack.generated.js